{% extends "layout_main.html" %}

{% block content %}

      <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="stat-widget-two">
            <div class="stat-content">

               <video width="640" height="320" controls>
                <source src="/videos/{{item.youtube_id}}" type="video/mp4">
               </video>

               <h2>{{item.title}}</h2>
               <p>{{item.date}}</p>

            </div>
          </div>
        </div>
      </div>

      </div>

{% endblock %}
