{% extends "layout_main.html" %}

{% block content %}

      <center>
      <a href="{{prev}}" class="btn btn-danger"> anterior</a> {{date}} <a href="{{prox}}"  class="btn btn-danger">proximo</a>
      </center>
      <div class="row">

      {% for item in videos %}
      <div class="col-lg-4">
        <div class="card">
          <div class="stat-widget-two">
            <div class="stat-content">
              <a href="/videos/{{item.youtube_id}}">
                 <img src="/static/covers/{{item.youtube_id}}.jpg" height="240px">
              </a><hr>
              <p>{{item.title}}</p>
              <div class="stat-text">{{item.date}}</div>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      </div>

{% endblock %}
